.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dishContainer{
  width:100%;
  padding:10px 0;
}
.menuCard{
  width:100%;
}

.subMenu, .viewAll{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.subMenu h3{
  font-size:16px;
  font-weight:600;
  color: black;
}

.rowContainer{
  display:flex;
  align-items:center;
  overflow-x:scroll;
  overflow-y:hidden;
  margin:10px 0;
  padding:10px 0;
}
.rowContainer::-webkit-scrollbar{
  display:none;
}

.rowMenuCard{
  width:150px;
  min-width:150px;
  height: 170px;
  border-radius:10px;
  background:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:column;
  padding:5px;
  box-shadow:0px 0px 20px rgba(0,0,0,0.15);
  transition:0.5s;
  cursor:pointer;
  margin:8px;
}
.rowMenuCard:hover,
.rowMenuCard.active {
  background: #f8901c;
}

.rowMenuCard .image{
  width:90px;
  height:90px;
  min-width:40px;
  min-height:40px;
  border-radius: 50px;
  background: #f8901c;
  padding:2px;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:0.5s;
  overflow:hidden;
}
.rowMenuCard:hover .imgBox,
.rowMenuCard.active .imgBox {
  background: #faf9fb;
}

.rowMenuCard:hover .imgBox img,
.rowMenuCard.active .imgBox img {
  width: 80%;
  height: 80%;
  transition: 0.5s;
}

.rowMenuCard .image img{
  object-fit:contain;
  border-radius:500px;
  width:100%;
  height:100%;
}


.rowMenuCard h3 {
  font-size: 20px;
  font-weight: 500;
  color: #f8901c;
  transition: 0.5s;
}

.rowMenuCard:hover h3,
.rowMenuCard.active h3 {
  color: #faf9fb;
}

.rowMenuCard .loadMenu {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #f8901c;
  transition: 0.5s;
}

.rowMenuCard:hover .loadMenu,
.rowMenuCard.active .loadMenu {
  background: #faf9fb;
}

.rowMenuCard .loadMenu .MuiSvgIcon-root {
  font-size: 20px !important;
  color: #faf9fb;
}

.rowMenuCard:hover .loadMenu .MuiSvgIcon-root,
.rowMenuCard.active .loadMenu .MuiSvgIcon-root {
  color: #f8901c;
}