body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 247, 250);
   /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuVPg_Gt5m3XEWfgdfOhOipuGmbyJjr7TA3XIET1MUKQd7wAJvZvLQyFpJrjMNRcop1xE&usqp=CAU");  */
   /* background-repeat: no-repeat;  */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .menu{
  background-image:linear-gradient(-90deg,#05cddf,#a4ecf6)
} */

/* #carousel{
  height:50vh;
  object-fit:cover;
  object-position:center;
  overflow:hidden;
} */

#carousel{
  max-height:500px;
}


/* .container{
  background-color: #a4f0f6;
  padding: 100px;
  width: 650px;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow:5px 15px 20px rgba(0,0,0,0.15);
} */